<div class="col mb-3 m-4">
    <div class="col-md-12">

      <div class="col-md-12 mb-3 mt-3">
        <h2>Nouvelle commande {{origin}}</h2>
      </div>


      <div class="row p-3 custom-border mt-4">
        <div class="col-md-5 custom-border-right">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" name="codeCmd" placeholder="Code commande">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Date commande">
            </div>
            <div class="form-group">
              <select class="form-control" name="cltFrs">
                <option>Selectionner un {{ origin }}</option>
              </select>
            </div>
          </form>
        </div>


        <div class="col-md-5 custom-border-right">
          <div class="col">
            <div class="row">
              <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
              <div class="col-md-10"> Nom</div>
            </div>
            <div class="row">
              <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
              <div class="col-md-10"> Prenom </div>
            </div>
            <div class="row">
              <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
              <div class="col-md-10">  NumTel</div>
            </div>
            <div class="row">
              <div class="col-md-1"><i class="fas fa-hourglass-half blue-color"></i></div>
              <div class="col-md-10 text-primary">EN PREPARATION</div>
            </div>
          </div>
        </div>


        <div class="col-md-2 text-center">
          <img src="assets/cmd.png" class="rounded-circle" width="150px"
               height="150px" />
        </div>
      </div>


    
   

      <div class="row mt-4 p-3 custom-border ">
        <div class="col-md-12" style="text-align: right;">
          <h3>Total de la commande: totalCommande </h3>
        </div>
      </div>
    </div>


    <div class="col-md-12  mt-4" style="text-align: right;">
      <button class="btn btn-danger mr-3">
        <i class="fas fa-ban"></i>&nbsp;
        Annuler
      </button> &nbsp;&nbsp;
      <button class="btn btn-primary">
        <i class="fas fa-save"></i>&nbsp;
        Enregitrer
      </button>
    </div>
  
  </div>
