<div class="col">
    <div class="row m-3">

      <div class="col-md-8 p-0">
        <h1>Listes des articles</h1>
      </div>

      <div class="col-md-4" style="text-align: right;">
        <app-boutton-action
          (clickEvent)="nouvelArticle()"
        ></app-boutton-action>
      </div>

    </div>


    <div class="col m-4">
      <app-detail-article></app-detail-article>
      <app-detail-article></app-detail-article>
      <app-detail-article></app-detail-article>
      <app-detail-article></app-detail-article>
    </div>


    <div class="row">
      <div class=" col-md-12 text-center mt-4">
        <app-pagination></app-pagination>
      </div>
    </div>
  
  </div>
